@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
    --silver: #C0C0C0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.side-nav{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.side-nav::-webkit-scrollbar{
    display: none;
}

.side-nav.close{
    width: 60px;
}

.side-nav .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    /* padding: 0 1.75rem; */
    /* display: flex; */
    /* align-items: center; */
    color: var(--primary);
    z-index: 500;
    box-sizing: content-box;
    position: relative;
    top: 25px;
    left: 20%;
}

.side-nav .logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.side-nav .logo .logo-name span{
    color: var(--dark);
}

.side-nav .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.side-nav .side-menu{
    width: 100%;
    margin-top: 48px;
    padding: 1.75rem;
}

.side-nav .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.side-nav .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.side-nav .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.side-nav .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.side-nav .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.side-nav .side-menu li.active a{
    color: var(--success);
}

.side-nav.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.side-nav .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.side-nav .side-menu li a.logout{
    color: var(--danger);
}

main{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.side-nav.close~main{
    width: calc(100% - 60px);
    left: 60px;
}

.top-nav{
    height: 56px;
    background: var(--light);
    padding: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.top-nav a{
    color: var(--dark);
}

.top-nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.top-nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.top-nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.top-nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.top-nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.top-nav .notif{
    font-size: 20px;
    position: relative;
}

.top-nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.top-nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.top-nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.top-nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

main{
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

main .header .left h1 a{
    color: var(--primary);
}

main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

main .header .left .breadcrumb li{
    color: var(--dark);
}

main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    /* pointer-events: none; */
}

main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

main .header .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
    margin-bottom: 36px;
}

main .insights .delete li .bx{
    background-color: var(--light-danger) !important;
}

main .insights .delete li .bx,
main .insights .delete li .info h3,
main .insights .delete li .info p{
    color: var(--danger) !important;
}

main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights a li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

main .insights a li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

main .insights a li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

main .insights a li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

main .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

main .insights li .info h3 button{
    align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

main .insights li .info h3 button:hover,
main .insights li .info h3 button:focus{
    border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

main .insights li .info h3 button:hover{
    transform: translateY(-1px);
}

main .insights li .info h3 button:active{
    background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);

}

main .insights li .info p{
    color: var(--dark);
}

main .insights li .info h3 img{
    max-width: 20% !important;
}

main .insights li .info form#updateOrderStatus input,
main .insights li .info form#updateOrderStatus button,
main .insights li .info form#update_paid input,
main .insights li .info form#update_paid button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main .insights li .info form#updateOrderStatus input,
main .insights li .info form#update_paid input{
  background-color: white;
  border-radius: 0.25rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  /* padding: 0.5rem 0.75rem; */
}

main .insights li .info form#updateOrderStatus button:hover,
main .insights li .info form#update_paid button:hover{
    color: var(--primary);
    cursor: pointer;
}

main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

main .bottom-data>div.imgContainer{
    width: 25%;
}

main .bottom-data>div a{
    color: var(--dark);
}

main .bottom-data>div a .delete{
    color: var(--danger);
}

main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

main .bottom-data .img-container img{
    position: relative;
    width: 50%;
    /* height: 10%; */
}

main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

main .bottom-data .header .bx{
    cursor: pointer;
}

main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

main .bottom-data .orders table td{
    padding: 16px 0;
}

main .bottom-data .orders table .buttons div .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

main .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

main .bottom-data .orders table tr td .status.notStarted{
    background: var(--silver);
    color: var(--dark);
}

main .bottom-data .orders table tr td .status.ready{
    background: var(--light-primary);
    color: var(--dark);
}

main .bottom-data .orders table tr td .status.cancelled{
    background: var(--danger);
}

main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

main .bottom-data .reminders .task-list{
    width: 100%;
}

main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .side-nav{
        width: 200px;
    }

    main{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .top-nav form .form-input input{
        display: none;
    }

    .top-nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none;
    }

    .top-nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .top-nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .top-nav form.show~.notif, .top-nav form.show~.profile{
        display: none;
    }

    main .insights {
        grid-template-columns: 1fr;
    }

    main .bottom-data .header{
        min-width: 340px;
    }

    main .bottom-data .orders table{
        min-width: 340px;
    }

    main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}